* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.container {
    width: 80%;
    margin: auto;
}

header {
    width: 100%;
}

img.logo {
    width: 100px;
    border: 3px solid rgb(87, 84, 84);
    border-radius: 50%;
}

div.img {
    float: left;
    margin-right: 30px;
}

div.title {
    float: left;
}

div.title h1 {
    font-weight: normal;
    font-size: 45px;
    margin: 15px 0;
}

aside,
main {
    padding: 0 20px;
}

aside {
    width: 40%;
    float: left;
    padding-left: 0;
}

main {
    width: 60%;
    float: left;
    border-left: 2px solid #000;
}

h3 {
    margin-top: 0;
    font-size: 26px;
    font-weight: normal;
}

.clearfix::before,
.clearfix::after {
    content: '';
    display: table;
}

.clearfix::after {
    clear: both;
}

@media all and (max-width: 845px) {
    div.title h1 {
        font-size: 35px;
    }
}

@media all and (max-width: 700px) {
    div.title h1 {
        font-size: 32px;
    }

    div.img {
        display: block;
        margin: 0 auto;
        float: none;
        text-align: center;
    }

    div.title {
        text-align: center;
        float: none;
    }

}